#mainText {
    margin-left: 1px !important;
    margin-top: 0px !important;
    text-align: left !important;
    margin-top: 30px !important;
}

#leftText {
    margin-top: 0px !important;
    padding-top: 0px !important;
}

#sloganLogin {
    text-align: left !important;
    margin-bottom: 50px;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

#containerTop {
    margin-bottom: 30px !important;
    padding-bottom: 50px !important;
    padding-left: auto !important; 
}

#loginForm {
    align-content: center !important;
    justify-content: center !important;
}