.modal-dialog modal-sm position-absolute bottom-0 end-0 w-17{
    transform: translateX(-80px);
}

.modal-body p-0 overflow-auto{
    max-height: 300px;
}
  
  /* chat box */
.modal-content:hover .fa-phone-alt {
    color: #0d6efd !important;
}

.modal-content:hover .fa-video {
    color: #0d6efd !important;
}

.modal-content:hover .fa-file-image {
    color: #0d6efd !important;
}

.modal-content:hover .fa-plus-circle {
    color: #0d6efd !important;
}

.modal-content:hover .fa-portrait {
    color: #0d6efd !important;
}

.modal-content:hover .fa-adjust {
    color: #0d6efd !important;
}

.modal-content:hover .fa-thumbs-up {
    color: #0d6efd !important;
}