#searchBar {
    width: 350px !important;
    text-align: left !important;
    overflow: hidden !important;
}

#searchBarDropdown {
    padding-top: 10px !important;
    width: 433px !important;
}

#searchBox {
    width: 380px !important;
    height: 40px !important;
}