#avatar{
    width: 35px; 
    height: 35px; 
    object-fit: cover;
}

#avatarSquare{
    width: 100px; 
    height: 100px; 
    object-fit: cover;
}

@media (max-width: 600px) {
    #avatarSquare{
        width: 65px; 
        height: 65px; 
        object-fit: cover;
    }
}

