body {
  margin: 0;
  background-color: #f0f2f5;
  font-family: 'Poppins', sans-serif; ;
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

.login-form{
  width: 100%;
  max-width: 28rem;
}

#bg-white {
  min-height: 56px; 
  z-index: 5;
}
.bg-gray {
    background-color: #f0f2f5;
  }
  #d-flex-comments{
   height: 50px; 
   z-index: 5;
  }
#d-flex-postcontainer-createpost{
  padding-top: 20px;
    max-width: 680px;
  }
#dropdown-menu-searchmenu{
  width: 20em; 
  max-height: 600px;
}
#dropdown-menu-notmenu{
  width: 23em; 
  max-height: 600px;
  overflow-y: auto;
}
#dropdown-menu-mainmenu{
 width: 23em; 
 max-height: 600px;
}
#d-none-end0{
 max-width: 360px;
 width: 100%; 
 z-index: 4; 
 padding-top: 56px; 
 left: initial !important;
}

.d-none{
  max-width: 360px; 
  width: 100%; 
  z-index: 4;
}
.position-absolute {
left: 75%;
}
.fab {
font-size: 3rem;
}
#fas-fa-circle {
  font-size: 0.5rem !important;
}
#input-group-text-circle{
  min-height: 40px;
}
#input-group-text-pill{
 min-height: 40px;
  min-width: 230px;
}
#mainMenu{
  width: 38px; 
  height: 38px; 
}
#avatar{
  width: 35px; 
  height: 35px; 
  object-fit: cover;
}
.rounded-circle{
  width: 38px; 
  height: 38px;
}
.modal-dialog modal-sm position-absolute bottom-0 end-0 w-17{
  transform: translateX(-80px);
}
.modal-body p-0 overflow-auto{
 max-height: 300px;
}

.navbar-nav {
  padding-top: 56px;
}
  .fs-0 {
    font-size: 4rem;
  }
  .fs-7 {
    font-size: 0.8rem;
  }

  /* nav button */
  .nav__btn button:hover {
    background: #f0f2f5 !important;
  }
  .nav__btn button:hover i {
    color: #0d6efd !important;
  }
  .nav__btn-active i {
    color: #0d6efd !important;
  }
  .nav__btn-active {
    position: relative;
  }
  .nav__btn-active:before {
    content: "";
    position: absolute;
    bottom: -4.5px;
    left: 0;
    transform: translate(0, 4.5px);
    width: 100%;
    height: 3px;
    border-bottom: 3px solid #0d6efd !important;
  }
  /* dropdown */
  .dropdown-item:active {
    background-color: #d5d5d5 !important;
  }
  /* chat box */
  .modal-content:hover .fa-phone-alt {
    color: #0d6efd !important;
  }
  .modal-content:hover .fa-video {
    color: #0d6efd !important;
  }
  .modal-content:hover .fa-file-image {
    color: #0d6efd !important;
  }
  .modal-content:hover .fa-plus-circle {
    color: #0d6efd !important;
  }
  .modal-content:hover .fa-portrait {
    color: #0d6efd !important;
  }
  .modal-content:hover .fa-adjust {
    color: #0d6efd !important;
  }
  .modal-content:hover .fa-thumbs-up {
    color: #0d6efd !important;
  }
  /* edit */
  .edit-button {
    opacity: 0;
  }
  .edit-button:hover {
    opacity: 1;
  }
  .edit-heading:hover .edit-button {
    opacity: 1;
  }
  /* scrollbar */
  .scrollbar:hover {
    overflow: auto !important;
  }

  .dropdown-item:hover .sponsor-icon {
    opacity: 1;
  }
  /* popover */
  .pop-avatar {
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 15px;
  }
  .chat-box {
    border: 0 !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .pointer {
    cursor: pointer;
  }
  /* comment */
  .post__comment .accordion-button::after {
    margin-left: 0 !important;
    display: none !important;
  }
  .post__comment .accordion-button:hover {
    background: transparent !important;
    border-color: transparent !important;
  }
  .post__comment .accordion-button:not(.collapsed) {
    background: transparent !important;
  }
  .post__comment .accordion-button:not(.collapsed) {
    box-shadow: none !important;
  }
  @media (min-width: 62em) {
    footer {
      position: fixed;
      bottom: 0;
      width: 100%;
    }
  }
  
